# Игнорировать все Excel и CSV файлы
*.csv

# Игнорировать Jupyter Notebook файлы
*.ipynb

# Игнорировать файлы R
*.RData
*.Rhistory

# Игнорировать документы Word
*.doc
*.docx

# Папки CatBoost
catboost_info/

# IDE и JetBrains
.idea/
*.iml
*.ipr
*.iws

plots/
retail_roll.xlsx

# Windows system files
Thumbs.db
Desktop.ini

__pycache__/

test_parse.xlsx
giga_data_prep_07_2025.xlsx

.pt_tmp/
DeepGBM/
GBNN/
deepgbm_env/